body {
  margin-left: 40px;
  max-width: 80%;
  font-family: Tahoma, Geneva, sans-serif;
  color: #333;
}

.nav{
  width: 45%;
  background-color: #F5F5F5;
  border: 1px dotted #D3D3D3;
  padding: 20px 20px 100px 20px;
  margin-top: 60px;
  border-radius: 5px;
}

button{
 padding: 6px 16px;
 background-color: #fff;
 border-radius: 4px;
 font-size: 16px;
 color: #008B8B;
}

input{
  padding: 6px 16px;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
}

.result-text {

  padding: 0.5em 0.2em;
  font-size: 98%;

}

header h1{
  margin-top: 40px;
  color: #008B8B;

}

h1{
  font-size: 40px;
  font-weight: 100;

}

h2 {
  font-size: 26px;
  font-weight: 100;
}

h3 {
  font-weight: 100;
  color: #008B8B;
}

.num{
  margin-top: 80px;
  margin-bottom: 40px;

}

ul li{
  line-height: 26px;
  font-weight: 100;
  font-size: 15px;

}

table, th, td {
  border: 1px solid #5F9EA0;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #eee;
  color: #008B8B;;
}

th, td {
  padding: 5px;
}

ul {
  margin-top: 40px;
}

